<h1>RESGISTGER COURSE</h1>
<form method="POST" action="/course/store">
  <div class="form-group">
    <label for="name">name</label>
    <input type="text" class="form-control" id="name"  name="name" aria-describedby="emailHelp" placeholder="Enter name">
    <label for="description">Description</label>
    <input type="text" class="form-control" id="description" name="description" aria-describedby="emailHelp" placeholder="description">
   <label for="videoid">videoid</label>
    <input type="text" class="form-control" id="videoid"  name="videoid" aria-describedby="emailHelp" placeholder="Enter videoid">
    
  </div>
 
  <button type="submit" class="btn btn-primary">Submit</button>
</form>