<div class="mt-4 d-flex">
  <div class="col-lg-3">
    <button>HOC NGAY</button>
  </div>
  <div class="col-lg-3">
    <h2>{{course.name}}</h2>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{videoid}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <h2>{{course.description}}</h2>
  </div>
</div>